.header {
    margin-top: 80px;
    &__navbar {
        display: flex;
        justify-content: space-between;
    }
    &__brand {
        padding: 10px 15px 17px 10px;
        border: $color 3px solid;
        opacity: 0.702;
        color: $color;
        line-height: 0.915;
        font-size: 50px;
        font-family: "OpenSans";
        span {
            color: $color2;
        }
    }
    &__toggle {
        display: none;
        position: relative;
        span,
        &::before,
        &::after {
            right: 0;
            opacity: 0.6;
            width: 34px;
            height: 4px;
            position: absolute;
            border-radius: 2px;
            background-color: $toggle;
        }
        &::after {
            content: "";
            top: 10px;
        }
        &::before {
            content: "";
            top: 20px;
        }
    }
    &__info {
        margin-top: 150px;
    }
    &__title {
        color: $color;
        font-size: 50px;
        font-family: "OpenSans";
        line-height: 0.915;
        text-align: center;
        opacity: 0.941;
        span {
            color: $color2;
        }
    }
    &__text {
        max-width: 703px;
        margin: 0 auto;
        font-size: 16px;
        font-family: "OpenSans";
        line-height: 1.563;
        text-align: center;
        opacity: 0.651;
    }
    &__send {
        position: relative;
        margin-top: 100px;
        border-radius: 2px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 57px 0px rgb(20, 20, 21);
        max-width: 372px;

        span {
            color: $color2;
        }
    }
    &__send-form {
        input[type="text"] {
            color: $color;
            padding-bottom: 10px;
            text-align: start;
        }
        textarea {
            color: $color;
            padding-bottom: 70px;
            max-width: 300px;
            text-align: start;
        }
    }
    &__send-title {
        padding-top: 25px;
        font-size: 20px;
        font-family: "OpenSans";
        line-height: 1.25;
        text-align: center;
        opacity: 0.902;
    }

    &__send-input {
        width: 290px;
        margin-left: 35px;
        margin-top: 30px;
        text-align: start;
        text-align-last: left;
        font-size: 20px;
        font-family: "OpenSans";
        line-height: 1.25;
        text-align: center;
        opacity: 0.902;
        border: 0;
        border-bottom: 1px $color solid;
        &:first-child {
            margin-top: 50px;
        }
        @media screen and (max-width: 376px) {
            width: 230px;
        }
    }
    &__send-button_cont {
        position: relative;
        @media screen and (max-width: 426px) {
            display: flex;
            justify-content: center;
        }
    }
    &__send-button2 {
        transition: all 0.3s linear;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 2;
        cursor: pointer;
        margin: 0 68px;
        margin-top: 20px;
        margin-bottom: 15px;
        background: url("../img/right.svg") no-repeat;
        background-position: 90% 50%;
        background-size: 35px;
        border-style: solid;
        border-width: 1px;
        border-color: #000;
        border-radius: 27px;
        background-color: #000;
        width: 232px;
        height: 51px;

        font-size: 16px;
        font-family: "OpenSans";
        color: $color4;
        line-height: 1.563;
        text-align: center;
        @media screen and (max-width: 426px) {
            display: none;
        }
    }

    &__send-button {
        position: relative;
        //372px
        z-index: 3;
        cursor: pointer;
        margin: 0 68px;
        margin-top: 20px;
        margin-bottom: 15px;
        background: url("../img/right.svg") no-repeat;
        background-position: 90% 50%;
        background-size: 35px;
        border-style: solid;
        border-width: 1px;
        border-color: $color2;
        border-radius: 27px;
        background-color: $color2;
        width: 236px;
        height: 53px;

        font-size: 16px;
        font-family: $ff1;
        color: $color4;
        line-height: 1.563;
        text-align: center;
        @media screen and (max-width: 426px) {
            margin: 0;
        }
    }
}

.header__send-button2.active {
    top: -6px;
    left: 5px;
}
