/* Слайдер */
.slick-slider {
    overflow: hidden;
    position: relative;
}
.slider {
}
.slider .slick-arrow {
}
.slider .slick-arrow:hover {
}

/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
}
/* Лента слайдов */
.slick-track {
    display: flex;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned

/* Стрелка */
.slick-arrow {
    position: absolute;
}

.slick-arrow.slick-next:hover,
.slick-arrow.slick-prev:hover {
}

.slick-arrow.slick-next,
.slick-arrow.slick-prev {
    font-size: 0;
    z-index: 3;
    position: absolute;
    border: 0;
    width: 10px;
    height: 20px;
}
/* Стрелка влево */
.slick-arrow.slick-prev {
    // border: 20px $color2 solid;
    border-radius: 50%;
    left: 0;
    top: 50%;
    background: url("../img/arrow/left.svg") no-repeat;
}

.slick-arrow.slick-next {
    right: 0;
    top: 50%;
    background: url("../img/arrow/right.svg") no-repeat;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}

/* Точки (булиты) */
.slick-dots {
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 0;
}
.slick-dots li {
    &:last-child {
        margin-left: 0;
    }
}
/* Активная точка */
.slick-dots li.slick-active button {
    background-color: $color2;
}
/* Элемент точки */
.slick-dots li button {
    border: 0;
    background-color: rgb(224, 224, 224);
    border-radius: 2px;
    margin-left: 7px;

    width: 18px;
    height: 6px;
}
/*  */
