header.header
    a(id="header")
    nav#menu.header__navbar
        ul.header__list
            li.header__item
                a(href="#header").header__link Главная
            li.header__item
                a(href="#about").header__link Обо мне
            li.header__item
                a(href="#work").header__link Работы
            li.header__item
                a(href="#instr").header__link Инструменты
            li.header__item
                a(href="#cont").header__link Контакты
        #toggle
            i.fa.fa-toggle-off
    .header__content
        h1.header__title Just Nova
        p.header__text Студент 3 курса из города Челябинск с постоянным номером, желанием найти интересные проекты для улучшения навыков вёрстки.
        
        .header__contact.header__contact_a 
            a(href="https://vk.com/black_2016_white" target="_blank")
                i.fa.fa-vk
            a(href="tel:+79090747526") +79090747526 
            a(href="mailto:black2016white@mail.ru") 
                i.fa.fa-envelope 
            