mixin contact
    .header__contact.contact_a 
        a(href="https://vk.com/black_2016_white" target="_blank")
            i.fa.fa-vk
        a(href="tel:+79090747526") +79090747526 
        a(href="mailto:black2016white@mail.ru") 
            i.fa.fa-envelope 
        