// Слайдер 
.slick-slider {
    position: relative;
}
.slider {
    position: relative;
    display: flex;
    
}
/*
.slider .slick-arrow {

}
.slider .slick-arrow:hover {
}
*/
/*
// Слайдер запущен
.slick-slider.slick-initialized {
}
// Слайдер с точками
.slick-slider.slick-dotted {
}
*/

// Ограничивающая оболочка
.slick-list {
    overflow: hidden;
    position: relative;
}
// Лента слайдов 
.slick-track {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

// Слайд 
.slick-slide {
    position: relative;
    margin-left: 30px;
}
/*
// Слайд активный (показывается) 
.slick-slide.slick-active {
}
// Слайд основной 
.slick-slide.slick-current {
}
// Слайд по центру 
.slick-slide.slick-center {
}
// Клонированный слайд 
.slick-slide.slick-cloned

// Стрелка 
.slick-arrow {
    
}
*/
.slick-arrow.slick-next,
.slick-arrow.slick-prev {
    
    bottom: -65px;
    font-size: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    border: 0;
}
// Стрелка влево 
.slick-arrow.slick-prev {
    background: url("../img/left.svg") 0 0 /100% no-repeat;
    left: 45%;
}

.slick-arrow.slick-next {
    background: url("../img/right.svg") 0 0 /100% no-repeat;
    right: 35%;
}

/*
// Стрелка не активная 
.slick-arrow.slick-disabled {
}

*/

// Точки (булиты) 
.slick-dots {
    position: absolute;
    font-size: 0;
    left: 50%;
    bottom: -65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-dots li {
    width: 20px;
    height: 0px;
}
// Активная точка 
.slick-dots li.slick-active button {
    background-color: #000;
    border: 1px solid #000;
}
// Элемент точки 
.slick-dots li button {
    font-size: 0;
    width: 20px;
    height: 0px;
}
