footer.contact
    .container
        h2.btn-knowmore Contact Us
        .contact__link
            i.fa.fa-facebook
            i.fa.fa-twitter
            i.fa.fa-vk
            i.fa.fa-instagram
            span © 2015 - 2016 Deviserweb Ltd
