header.header
    .container
        .header__navbar
            a(href="").header__brand
                span S
                |mart
            .header__toggle
                span
        .header__info
            h2.header__title 
                span Smart 
                |Agency Landign Page
            p.header__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, ab architecto. Obcaecati blanditiis dolorem ipsam, dignissimos sint iste debitis recusandae sed natus, excepturi molestias autem sequi amet voluptatem vel eius?
        .header__send
            form.header__send-form
                h2.header__send-title 
                    span Send 
                    | A Message
                input.header__send-input(type="text")
                br
                input.header__send-input(type="text"  placeholder="Your Email")
                br
                textarea.header__send-input(wplaceholder="Your Message" )
                br
                .header__send-button_cont
                    input.header__send-button2#send-button2(type="button" value=" ")
                    input.header__send-button#send-button(type="button" value="Send A Message")