section.work
    .container
        .work__title.title 
            span Working 
            |Process
        .work__title-text.text Lorem ipsum dolor sit amet consectet ur adipiscing elit  Vestib
        .work__block-row
            .work__block
                .work__block-img 
                    i.fa.fa-magnet
                .work__block-title Koc Koi Tom
                .work__block-text Lorem ipsum is dummy lorem very dumy
                a(href="#").work__block-btn.btn-knowmore Know More
            .work__block
                .work__block-img
                    i.fa.fa-bug
                .work__block-title Koc Koi Tomi
                .work__block-text Lorem ipsum is dummy lorem very dumy
                a(href="#").work__block-btn.btn-knowmore Know More
            .work__block
                .work__block-img
                    i.fa.fa-cogs
                .work__block-title Koc Koi Tomi
                .work__block-text Lorem ipsum is dummy lorem very dumy
                a(href="#").work__block-btn.btn-knowmore Know More
            .work__block
                .work__block-img
                    i.fa.fa-camera-retro
                .work__block-title Koc Koi Tomi
                .work__block-text Lorem ipsum is dummy lorem very dumy
                a(href="#").work__block-btn.btn-knowmore Know More
section.featured
    .container
        .featured__title.title 
            span Featured 
            |Works
        .featured__title-text.text Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores
        .featured__block-row
            .featured__block
            .featured__block
            .featured__block
            .featured__block
            .featured__block
            .featured__block
            .featured__block
            .featured__block
            .featured__block
section.serviced
    .container
        .serviced__title.title 
            span Services 
            |We Provide
        .serviced__title-text.text Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores
        .serviced__content
            .serviced__icon
                .serviced__icon-block
                    img(src="img/ls1.png" alt="")
                .serviced__icon-block
                    img(src="img/ls2.png" alt="")
                .serviced__icon-block
                    img(src="img/ls3.png" alt="")
                .serviced__icon-block
                    img(src="img/ls4.png" alt="")
            .serviced__app
                .serviced__app-title Modern App Design
                .serviced__app-text 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt neque, placeat dignissimos, eos maxime ut quibusdam doloremque inventore necessitatibus magnam iste dolores nemo perferendis hic tempora voluptatibus fugiat autem architecto?

                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, rerum.
                    p vitae eveniet quam rem unde facilis.
                a(href="").serviced__app-btn.btn-knowmore Know More
            .serviced__product 
                img(src="img/apple-watch-mockup.png" alt="")
section.team
    .container
        .team__title.title 
            span Team 
            |Chinen & Skills
        .team__title-text.text Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores
        .team__content
            .team__content-left
                .team__content_block
                    .team__content_block-title Bedi Manos
                    .team__content_block-text UI/UX Parena
            .team__content-center
                .team__content-info
                    .team__content-info_a
                        span UI/UX  Design
                        br
                        progress(max="300" value="275")
                    .team__content-info_a
                        span English 
                        br
                        progress(max="300" value="265")
                    .team__content-info_a
                        span Communication
                        br
                        progress(max="300" value="270")
                    .team__content-info_b
                        .team__content-name Al Rayhan
                        .team__content-subname UI/UX Designer
                        .team__content-contact 
                            i.fa.fa-twitter
                            i.fa.fa-vk
                            i.fa.fa-instagram
            .team__content-left
                .team__content_block
                    .team__content_block-title Ali Sayed
                    .team__content_block-text UI/UX Designer
section.clients
    .container
        .clients__title.title 
            span Clients 
            |Said
        .clients__title-text.text Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores
        .clients__slider                
            .clients__item
                .clients__body
                    .clients__block
                        .clients__block-photo
                        .clients__block-text “This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
                        .clients__block-stars 
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                        .clients__block-who Kita Say, 
                            i HK Director
                    .clients__block
                        .clients__block-photo
                        .clients__block-text “This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
                        .clients__block-stars 
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                        .clients__block-who Kita Say, 
                            i HK Director

            .clients__item
                .clients__body
                    .clients__block
                        .clients__block-photo
                        .clients__block-text “This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
                        .clients__block-stars 
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                        .clients__block-who Kita Say, 
                            i HK Director
                    .clients__block
                        .clients__block-photo
                        .clients__block-text “This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
                        .clients__block-stars 
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                        .clients__block-who Kita Say, 
                            i HK Director

            .clients__item
                .clients__body
                    .clients__block
                        .clients__block-photo
                        .clients__block-text “This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
                        .clients__block-stars 
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                        .clients__block-who Kita Say, 
                            i HK Director
                    .clients__block
                        .clients__block-photo
                        .clients__block-text “This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
                        .clients__block-stars 
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                        .clients__block-who Kita Say, 
                            i HK Director
section.logo
    .container
        .logo__content
            img(src="img/logo/1.png" alt="")
            img(src="img/logo/2.png" alt="")
            img(src="img/logo/3.png" alt="")
            img(src="img/logo/4.png" alt="")
            img(src="img/logo/5.png" alt="")
            img(src="img/logo/6.png" alt="")
